<!DOCTYPE html>
<html>
<head>
    <title>BondJamesBond</title>
    <link rel="stylesheet" type="text/css" href="../css/dock.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/JBondSite.css" />
</head>
<body>
    <header>

        <div class="container-fluid">
            <div class="row-fluid">
                <!-- Begin: CSS Dock Code -->
                <div class="dock">
                    <ul id="filters">
                        <li id="films">
                            <a href="#films">
                                <em><span>films</span></em>
                                <img src="http://placehold.it/30x30" alt="films" />
                            </a>
                        </li>
                        <li id="kills">
                            <a href="#kills">
                                <em><span>kills</span></em>
                                <img src="http://placehold.it/30x30" alt="kills" />
                            </a>
                        </li>
                        <li id="kissed">
                            <a href="#kissed">
                                <em><span>kissed</span></em>
                                <img src="http://placehold.it/30x30" alt="kissed" />
                            </a>
                        </li>
                        <li id="iSlept">
                            <a href="#iSlept">
                                <em><span>iSlept</span></em>
                                <img src="http://placehold.it/30x30" alt="iSlept" />
                            </a>
                        </li>
                        <li id="eSlept">
                            <a href="#eSlept">
                                <em><span>eSlept</span></em>
                                <img src="http://placehold.it/30x30" alt="eSlept" />
                            </a>
                        </li>
                        <li id="believed_dead">
                            <a href="#believed_dead">
                                <em><span>dead</span></em>
                                <img src="http://placehold.it/30x30" alt="dead" />
                            </a>
                        </li>
                        <li id="bond_james_bond">
                            <a href="#bond_james_bond">
                                <em><span>bond_james_bond</span></em>
                                <img src="http://placehold.it/30x30" alt="bond_james_bond" />
                            </a>
                        </li>
                        <li id="martinis_drunk">
                            <a href="#martinis_drunk">
                                <em><span>martinis_drunk</span></em>
                                <img src="http://placehold.it/30x30" alt="martinis_drunk" />
                            </a>
                        </li>
                        <li id="rotten_tomato">
                            <a href="#rotten_tomato">
                                <em><span>rotten_tomato</span></em>
                                <img src="http://placehold.it/30x30" alt="rotten_tomato" />
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End: CSS Dock Code -->
            </div>
        </div>
    </header>
    <div id="bondlayout" class="container-fluid">
        <div class="row-fluid">
            <!--Begin:bond stat area -->
            <div class="span10">
                
                <div id="connery" class="row-fluid bond">
                    <div class="span2">connery</div>
                    <div class="stats span9"></div>
                    <div class="number span1"></div>

                </div>

                <div id="lazenby" class="row-fluid  bond">
                    <div class="span2">lazenby</div>
                    <div class="stats span9"></div>
                    <div class="number span1"></div>
                </div>
                
                <div id="moore" class="row-fluid bond">
                    <div class="span2">moore</div>
                    <div class="stats span9"></div>
                    <div class="number span1"></div>
                </div>
                
                <div id="dalton" class="row-fluid bond">
                    <div class="span2">dalton</div>
                    <div class="stats span9"></div>
                    <div class="number span1"></div>
                </div>
                
                <div id="brosnan" class="row-fluid bond">
                    <div class="span2">brosnan</div>
                    <div class="stats span9"></div>
                    <div class="number span1"></div>
                </div>
                
                <div id="craig" class="row-fluid bond">
                    <div class="span2">craig</div>
                    <div class="stats span9"></div>
                    <div class="number span1"></div>
                </div>
            </div>
            <!--End:bond stat area -->

            <!--Begin: Bond Movie area-->
            <div class="span2">
            </div>
            <!--End: Bond Movie area-->
        </div>
    </div>



    <script type="text/javascript" src="../js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/bonds.js"></script>
    <script type="text/javascript" src="../js/JBondSite.js"></script>
</body>
</html>
